@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Titel"] = "Euro zu Tier Berechnung";
}
@model decimal

<form asp-action="EuroZuTier" method="post">
    <p>Für wieviel geld wollen sie Tiere kaufen?</p>
    <input name="geld" 
        value="@Model"
        type="number" 
        step="0.01" />
    <button type="submit">berechnen</button>
</form>