@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-secondary" asp-action="EuroZuTier" asp-controller="Home">Euro zu Tier</a>
    <a class="btn btn-secondary" asp-action="TierZuEuro" asp-controller="Home">Tier zu Euro</a>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Tier">Tiere Bearbeiten</a>
</div>
