@model List<EingabeViewModel>
<div>
    <form asp-action="TierZuEuro" method="post">
        <ol>
            @{
                List<Tier> repo = Repository.Tiere.ToList();
                @for (int i = 0; i < repo.Count(); i++)
                {
                    <li>
                        <label>@repo[i].Name</label>
                        <input type="hidden" asp-for="@Model[i].TierID" value="@repo[i].ID"/>
                        <!--value muss noch gesetzt werden-->
                        <input asp-for="@Model[i].Anzahl" />
                    </li>
                }
            }
        </ol>
        <button type="submit">Umrechnen</button>
    </form>
</div>
